@model IQueryable<Entities.User>
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

@foreach (var item in Model)
{
    @item.Email
    <br />
    @item.FirstName
    <br />
    @item.LastName
    <br />
    @if (item.Questionnaires != null)
    {
        @foreach (var questionnaire in item.Questionnaires)
        {
            @questionnaire.Title
            <br />
        }
    }
    <br />
    <br />
}