@page
@model RegisterConfirmationModel
@{
    ViewData["Title"] = "Confirmation d'enregistrement";
}

<h1>Confirmation d'enregistrement</h1>
@{
    if (@Model.DisplayConfirmAccountLink)
    {
        <p>
            Cette application n'a actuellement pas d'expéditeur réel enregistré, voir <a href="https://aka.ms/aspaccountconf">cette documentation</a> pour savoir comment configurer un véritable expéditeur d'e-mail.
            Normalement, cela serait envoyé par courrier électronique : <a id="confirm-link" href="@Model.EmailConfirmationUrl">Cliquer ici pour confirmer votre compte</a>
        </p>
    }
    else
    {
        <p>
            Veuillez vérifier votre e-mail pour confirmer votre compte.
        </p>
    }
}
