@model Entities.Question

<h4>Question</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="#">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Entitled" class="control-label"></label>
                <input asp-for="Entitled" class="form-control" />
                <span asp-validation-for="Entitled" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Timer" class="control-label"></label>
                <input asp-for="Timer" class="form-control" />
                <span asp-validation-for="Timer" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input id="SubmitAddQuestion" type="submit" value="Create" class="btn btn-primary" />
            </div>
            <input type="hidden" asp-for="QuestionnaireId" value="@Model.QuestionnaireId"/>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>
