@model Entities.Question

@{
    ViewData["Title"] = "Suppression";
}

<h1>Suppression</h1>

<h3>Voulez-vous vraiment supprimer cela ?</h3>
<div>
    <h4>Question</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            Intitulé
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Entitled)
        </dd>
        <dt class = "col-sm-2">
            Temps
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Timer)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Questionnaire)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Questionnaire.Id)
        </dd class>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Retour à la liste</a>
    </form>
</div>
