@model IEnumerable<Entities.Question>

@{
    ViewData["Title"] = "Index";
}

<h1>Question management</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<partial name="_FormAddQuestion" model="ViewBag.ModelQuestion" />

<div id="accordion">
    @foreach (var question in Model)
    {
        <partial name="_AccordionCard" model="question" />
    }
</div>

<partial name="_FormAddProposal" model="ViewBag.ModelProposal" />
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script>
    $(function () {
        @*Add a question to a questionnaire*@
        $("#SubmitAddQuestion").submit(function (e) {
            e.preventDefault();
            var Entitled = $("#SubmitAddQuestion #Entitled").val();
            var Timer = $("#SubmitAddQuestion #Timer").val();
            var QuestionnaireId = $("#SubmitAddQuestion #QuestionnaireId").val();
            var token = $("#SubmitAddQuestion input[name='__RequestVerificationToken']").val();
            $.post("@(Url.Action("Add", "AdminQuestion"))", { Entitled: Entitled, Timer: Timer, QuestionnaireId: QuestionnaireId, __RequestVerificationToken: token },
                function (data) {
                    $("#accordion").append(data);
                });
        });

        @* Add a proposal to a question *@
        $("#SubmitAddProposal").submit(function (e) {
            e.preventDefault();
            var Entitled = $("#SubmitAddProposal #Entitled").val();

            var IsCorrect = false;
            if ($('#SubmitAddProposal #IsCorrect').is(":checked")) {
                IsCorrect = true;
            }
            var QuestionId = $("#SubmitAddProposal #QuestionId").val();
            var token = $("#SubmitAddProposal input[name='__RequestVerificationToken']").val();
            $.post("@(Url.Action("Add", "AdminProposal"))", { Entitled: Entitled, IsCorrect: IsCorrect, QuestionId: QuestionId, __RequestVerificationToken: token },
                function (data) {
                    $("#heading" + QuestionId).parent().replaceWith(data);
                });
        });
    });

    @* display modal to display the proposal form *@
    function eventClickAddProposal(IdQuestion) {
        var TitleQuestion = $("#TitleQuestion" + IdQuestion).text();
        $("#ModalLabel").text(TitleQuestion);
        $("input#QuestionId").val(IdQuestion);
        $('#ModalFormProposal').modal({
            keyboard: true
        });
        return false;
    }
    </script>
}