@model Entities.Question

@{
    ViewData["Title"] = "Participation in a questionnaire";
}

<h1>Participation in a questionnaire</h1>

<form asp-action="Answer">
    <input type="hidden" asp-for="Id" />
    <label asp-for="Entitled" class="control-label">@Model.Entitled</label>
    <ul>
        @foreach (var proposal in Model.Proposals)
        {
            <li>
                <input type="checkbox" name="proposals" value="@proposal.Id" />
                <label for="proposals">@proposal.Entitled</label>
            </li>
        }
    </ul>
    <button type="submit" class="btn btn-primary">Answer</button>
</form>
