@model Entities.Question

@{
    ViewData["Title"] = "Participation in a questionnaire";
}

<h2>Participation in a questionnaire</h2>

<form asp-action="Answer">
    <input type="hidden" asp-for="Id" />
    <h4><label asp-for="Entitled" class="control-label">@Model.Entitled</label></h4>
    <ul>
        @foreach (var proposal in Model.Proposals)
        {
            <li>
                <input type="checkbox" name="proposals" value="@proposal.Id" />
                <label for="proposals">@proposal.Entitled</label>
            </li>
        }
    </ul>
    <button type="submit" class="btn btn-primary">Answer</button>
</form>

<style>
    ul{
        list-style-type: none;
    }
</style>