@model Entities.Questionnaire

@{
    ViewData["Title"] = "Suppression";
}

<h1>Suppression</h1>

<h3>Voulez-vous vraiment supprimer ceci ?</h3>
<div>
    <h4>Questionnaire</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            Titre
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class="col-sm-2">
            Temps par défaut
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DefaultTimer)
        </dd>
        <dt class="col-sm-2">
            Utilisateur
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.User.FirstName) @Html.DisplayFor(model => model.User.LastName)
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Supprimer" class="btn btn-danger" /> |
        <a asp-action="Index">Retour à la liste</a>
    </form>
</div>