@model IEnumerable<Entities.Result>

@{
    ViewData["Title"] = "Participated questionnaires";
}

<h1>Mes participations</h1>

<p>
    <a asp-action="Search">Participer à un questionnaire</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Titre
            </th>
            <th>
                Note
            </th>
            <th>
                Date de réponse
            </th>
            <th>
                Supprimer
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var result in Model)
        {
            <tr>
                <td>
                    @(result.Proposals.Count > 0 ? result.Proposals.FirstOrDefault().Question.Questionnaire.Title : "Pas de réponse")
                </td>
                <td>
                    @(result.Note != null ? result.Note : 0) / 20
                </td>
                <td>
                    @result.ResponseDate.ToShortDateString()
                </td>
                <td>
                    <a asp-action="Delete" asp-route-id="@result.Id" class="btn btn-outline-danger">Supprimer</a>
                </td>
            </tr>
        }
    </tbody>
</table>
