@model IEnumerable<Entities.Result>

@{
    ViewData["Title"] = "Participated questionnaires";
}

<h1>Participated questionnaires</h1>

<p>
    <a asp-action="Search">Participate Questionnaire</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Title
            </th>
            <th>
                Note
            </th>
            <th>
                Response date
            </th>
            <th>
                Delete
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var result in Model)
        {
            <tr>
                <td>
                    @(result.Proposals.Count > 0 ? result.Proposals.FirstOrDefault().Question.Questionnaire.Title : "No responses")
                </td>
                <td>
                    @result.Note / 20
                </td>
                <td>
                    @result.ResponseDate.ToShortDateString()
                </td>
                <td>
                    <a asp-action="Delete" asp-route-id="@result.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
